<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="../static/logins.css">
</head>
<body>
    <p>Cadastre-se</p>
    <form action="salvarusuario" method="post">
        <div class="cadastro">
            <div class="newemail">
                <span>E-mail</span>
                <br>
                <input type="text" name="newemail" id="" required>
            </div>

            <div class="nome">
                <span>Nome</span>
                <br>
                <input type="text" name="name" id="" required>
                
            </div>
    
            <div class="sobrenome">
                <span>Sobrenome</span>
                <br>
                <input type="text" name="surname" id="" required>
                
            </div>
    
            <div class="newsenha">
                <span>Senha</span>
                <br>
                <input type="password" name="createsenha" id="" maxlength="10" required>
                
            </div>
    
            <div class="confirmarsenha">
                <span>Confirme sua senha</span>
                <br>
                <input type="password" name="confirmsenha" id="" maxlength="10" required>
            </div>
    
            <div class="data">
                <span>Data de nascimento</span>
                <br>
                <input type="date" name="nascimento" id="" required>
            </div>
    
            <div class="funcionario">
                <input type="checkbox" name="funcionario" id="">Funcionário?
            </div>
    
            <a href="/login">
                <input type="submit" class="confirm-cadastro" placeholder="">      
            </a>
        </div>      
    </form>
</body>
</html>