<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar veículo</title>
    <link rel="stylesheet" href="../static/veiculo.css">
</head>
<body>
    <img src="../static/imagens/seguros.png" alt=""> 
    <p>Insira os dados do veículo para cadastro</p>

    <form action="salvarveiculo" method="post">
        <div class="carro">
            <div class="id">
                <input type="text" name="id" id="carroid" placeholder="id">
            </div>

            <div class="marca">
                <input type="text" name="marca" id="carromarca" placeholder="Marca">
            </div>

            <div class="tipo">
                <input type="text" name="tipo" id="carrotipo" placeholder="Tipo">
            </div>

            <div class="placa">
                <input type="text" name="placa" id="carroplaca" placeholder="Placa">
            </div>

            <div class="arcon">
                <select name="arcon" id="carroarcon">
                    <option value="" disabled selected>Ar-condicionado</option>
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
            </div>

            <div class="doors">
                <select name="ndoors" id="carroportas">
                    <option value="" disabled selected>Nº de portas</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                </select>
            </div>

            <div class="capacidade">
                <select name="capacidade" id="carrocapacidade">
                    <option value="" disabled selected>Nº de assentos</option>
                    <option value="2">2</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="marcha">
                <select name="marcha" id="carromarcha">
                    <option value="" disabled selected>Câmbio</option>
                    <option value="Man">Manual</option>
                    <option value="Auto">Automático</option>
                </select>
            </div>
        </div>
        <input type="submit" placeholder="Cadastrar veículo" class="cadastrar">  
    </form>
</body>
</html>