<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fechamento</title>
    <link rel="stylesheet" href="../static/busca.css">
</head>
<body>
    <img src="../static/imagens/seguros.png" alt="">     
    <div class="filtros1">
        <p>Agende a retirada e a devolução para concluir a transação</p>       
        <table>
            <tr>
                <td class="busca-local">
                    <input type="text" name="" id="" placeholder="Onde deseja retirar o veículo?" class="locais">
                </td>

                <td class="busca-data">
                    <input type="date" name="" id="" class="datas">
                </td>

                <td class="busca-hora">
                    <input type="time" name="" id="" class="horarios">
                </td>
            </tr>

            <tr>
                <td class="busca-local">
                    <input type="text" name="" id=""  placeholder="Onde deseja devolver o veículo?" class="locais">
                </td>

                <td class="busca-data">
                    <input type="date" name="" id=""  class="datas">
                </td>

                <td class="busca-hora">
                    <input type="time" name="" id=""  class="horarios">
                </td>
            </tr>
        </table>

        <a href="/main">
            <input type="submit" placeholder="concluir">                            
        </a>
    </div>
</body>
</html>