<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fechamento</title>
    <link rel="stylesheet" href="../static/busca.css">
</head>
<body>
    <div class="filtros1">
        <table>
            <tr>
                <td class="busca-local">
                    <input type="text" name="" id="" placeholder="Onde deseja retirar o veículo?" class="locais">
                </td>

                <td class="busca-data">
                    <input type="date" name="" id="" class="datas">
                </td>

                <td class="busca-hora">
                    <input type="time" name="" id="" class="horarios">
                </td>
            </tr>

            <tr>
                <td class="busca-local">
                    <input type="text" name="" id=""  placeholder="Onde deseja devolver o veículo?" class="locais">
                </td>

                <td class="busca-data">
                    <input type="date" name="" id=""  class="datas">
                </td>

                <td class="busca-hora">
                    <input type="time" name="" id=""  class="horarios">
                </td>
            </tr>

            <tr class="confirmar">
                <td class="botao">
                    <a href="/locacao">
                        <input type="submit" placeholder="continuar" class="continuar">                            
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>