<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="../static/logins.css">
</head>
<body>
    <p>Login</p>
    <div class="login-insert">
        <form action="" method="post">
            <div>
                <span>E-mail</span>
                <br>
                <input type="text" name="email" id="email" maxlength="50" required>
            </div>
    
            <div class="senha">
                <span>Senha</span>
                <br>
                <input type="password" name="senha" id="senha" maxlength="10" required>
                <a href="/nova-senha">
                    Esqueceu a senha?
                </a>
            </div>
    
            <a href="/main">
                <input type="submit" placeholder="Entrar">        
            </a>
    
            <p class="acesso">Primeira vez?<a href="/cadastro">Cadastre-se</a></p>
        </form>
    </div>
</body>
</html>