<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="../static/logins.css">
</head>
<body>
    <p>Login</p>
    <div class="login-insert">
        <div>
            <span>E-mail</span>
            <br>
            <input type="text" name="" id="email" maxlength="50">
        </div>

        <div class="senha">
            <span>Senha</span>
            <br>
            <input type="password" name="" id="senha" maxlength="10">
            <a href="/nova-senha">
                Esqueceu a senha?
            </a>
        </div>

        <a href="/main">
            <input type="submit" class="enter">        
        </a>
    </div>
</body>
</html>