<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="../static/busca.css">
</head>
<body>
    <div class="pesquisa">
        <div class="top">
            <table>
                <tr>
                    <td class="imagem">
                        <img src="../static/imagens/seguros.png" alt="" class="logo">                        
                    </td>

                    <td>
                        <a href="/cadastro-veiculo">
                            Deseja cadastrar um veículo?
                        </a>
                    </td>

                    <td class="frase">
                        <p>Busque por seu automóvel pelos melhores preços!!!</p>                      
                    </td>
                </tr>
            </table>

            <table>
                <tr class="pontos-positivos">
                    <td class="beneficio1">
                        <p>- Cancelamento grátis ou alteração da reserva até 24 horas antes da retirada</p>
                    </td>
                    <td class="beneficio2">
                        <p>- Atendimento rápido ao cliente</p>
                    </td>
                    <td class="elogios">
                        <p>- Aprovações de mais de 4 milhões de usuários</p>
                    </td>
                </tr>
            </table>

            <div class="filtros2">
                <div class="arcondicionado">
                    <select name="arcon" id="">
                        <option value="" disabled selected>Ar-condicionado</option>
                        <option value="S">Sim</option>
                        <option value="N">Não</option>
                    </select>
                </div>

                <div class="cambio">
                    <select name="cambio" id="">
                        <option value="" disabled selected>Câmbio</option>
                        <option value="Man">Manual</option>
                        <option value="Auto">Automático</option>
                    </select>
                </div>

                <div class="portas">
                    <select name="n-portas" id="">
                        <option value="" disabled selected>Nº de portas</option>
                        <option value="duas">2</option>
                        <option value="quatro">4</option>
                    </select>
                </div>

                <div class="lugares">
                    <select name="lugares" id="">
                        <option value="" disabled selected>Nº de lugares</option>
                        <option value="">2</option>
                        <option value="">5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="carros">
            <p>Qual será o automóvel da vez?</p>
        </div>
    </div>
</body>
</html>