<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova senha</title>
</head>
<body>
    <div class="login-insert">
        <div>
            <span>Digite sua nova senha</span>
            <br>
            <input type="text" name="" id="" maxlength="50" required>
        </div>

        <div>
            <span>Confirme sua senha</span>
            <br>
            <input type="password" name="" id="" maxlength="10" required>
        </div>

        <button type="submit" class="enter">Confirmar</button>
        <br>
    </div>
</body>
</html>