body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: orange;
}

.top{
    border-radius: 10px;
    border: 5px solid black;
}

body img{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 130px;
}

/*topo linha 1*/

table tr td .imagem{
    width: 160px;
    height: 100px;
}

table tr td .logo{
    width: 140px;
    height: 140px;
}

table tr .frase{
    width: 1000px;
    height: 100px;
}

table tr .frase p{
    margin-left: 300px;
    font-size: 26px;
    font-weight: 500;
}

/*fim da linha 1*/


/*topo linha 2*/

table .pontos-positivos{
    margin-top: 5px;
}

table .pontos-positivos td{
    height: 50px;
    width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

table .pontos-positivos td p{
    font-size: 18px;
    font-weight: 300;
}

table .pontos-positivos .beneficio2{
    margin-left: 80px;
}

/*fim da linha 2*/

.filtros1 p{
    margin-left: 57%;
    transform: translateX(-57%);
    margin-bottom: 50px;
    font-size: 20px;
}
/*dados da locação*/

.filtros1 table{
    margin-left: 50%;
    transform: translateX(-50%);
}

.filtros1 table tr .busca-local{
    width: 600px;
    height: 70px;
}

.filtros1 table tr .busca-hora{
    width: 200px;
    height: 70px;
}

.filtros1 table tr .busca-data{
    width: 200px;
    height: 70px;
}

.filtros1 table tr td .locais{
    margin-left: 10px;
    width: 590px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
}

.filtros1 table tr td .datas{
    margin-left: 80px;
    width: 190px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
    cursor: pointer;
}

.filtros1 table tr td .horarios{
    width: 130px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
    margin-left: 80px;
    cursor: pointer;
}

/*fim dos dados da locação*/


/*botão continuar*/

.filtros1 a input{
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    border: 2px solid black;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
}

/*fim dos botão continuar*/


/* filtros */

.filtros2{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 15px;
}

.filtros2 div select{
    position: relative;
    height: 40px;
    width: 120px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

/* fim dos filtros */

/* botão filtrar */

.top input{
    padding: 20px 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
}

/* fim do botão filtrar */


/* carros disponíveis */

.carros p{
    font-size: 24px;
    font-weight: 400;
    margin-left: 60%;
    transform: translateX(-60%);
}