body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: orange;
}
/*página principal*/
body img{
    width: 130px;
    height: 130px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.inicio img{
    width: 600px;
    height: 620px;
    margin-left: 50%;
    transform: translateX(-50%);
}
/*fim da página principal*/

body p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

/*Login*/
.login-insert{
    align-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    width: 250px;
    height: 320px;
    border-radius: 20px;
    position: center;
    padding: 7px;
}

.login-insert div{
    margin-top: 30px;
    margin-left: 25px;
    width: 190px;
}

.login-insert div input{
    width: 190px;
}

.login-insert .senha a{
    position: center;
}

.login-insert a input{
    width: 80px;
    height: 50px;
    margin: 50px 80px 50px 80px;
    background-color: darkorange;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}

/*fim do login*/


/*Cadastro*/

.cadastro{
    align-content: center;
    background-color: whitesmoke;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 470px;
    border-radius: 20px;
    position: center;
    padding: 7px;
}

.cadastro div{
    margin-top: 20px;
    margin-left: 30px;
}

.cadastro div input{
    width: 190px;
}

.cadastro a input{
    width: 100px;
    height: 50px;
    margin: 50px 80px 50px 80px;
    background-color: darkorange;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}

/*fim do cadastro*/


/*Aba Esqueceu a Senha*/

.new-senha{
    align-content: center;
    background-color: whitesmoke;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 320px;
    border-radius: 20px;
    position: center;
    padding: 7px;
}

.new-senha div{
    margin-top: 25px;
    margin-left: 30px;
}

.new-senha div input{
    width: 190px;
}

.new-senha input{
    width: 100px;
    height: 50px;
    margin: 50px 80px 50px 80px;
    background-color: darkorange;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}
