.login{
    background-color: orange;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*página principal*/
.doc a img{
    width: 100%;
    height: 500px;
    margin: 0;
}

.f40 a img{
    width: 100%;
    height: 500px;
    margin: 0;
}
/*fim da página principal*/


/*Login*/

/*fim do login*/


/*Cadastro*/

/*fim do cadastro*/